#root {
  font-family: "Barlow", sans-serif;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0;
}

p {
  font-family: "Barlow";
}

.successPage {
  background-color: #ce2829;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.successPage div {
  color: white;
  font-family: "Barlow";
  justify-content: center;
  font-size: 3rem;
  margin-top: 10rem;
  margin-bottom: 14rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.home {
  background-image: url("../images/iteration-1-images/home-banner.png");
  text-align: center;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home div {
  text-align: center;
  align-items: center;
  font-family: "Barlow";
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}

.homebutton {
  border: 5px solid white !important;
  padding: 1rem 5rem !important;
  width: 10rem !important;
  border-radius: 2rem !important;
  font-family: "Barlow" !important;

  color: black !important;
  font-weight: bold !important;
  font-size: 0.9rem !important;
}

.nav {
  display: flex;
  gap: 0.3rem;
  margin-top: 2rem;
  margin-left: 26.5rem;
}

.nav a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: start;
  color: white;
}

.nav a:hover {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.titles {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 1.2rem;
}

.dis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 2rem;
  margin: 1rem auto;
  max-width: 1200px;
}

header {
  background-color: #ce2829;
  color: white;
  max-width: 100%;
  padding: 2rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.anabaslik {
  font-size: 1.5rem;
  font-weight: bold;
  color: #5f5f5f;
}

.fiyat {
  display: flex;
  color: #292929;
  flex-direction: row;
  justify-content: space-between;
}

.para {
  font-weight: bold;
  font-size: 2rem;
}
.rating {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 8rem;
}

.secimler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boyutlar {
  display: flex;
  flex-direction: column;
}

.malzemeler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 0;
  color: #5f5f5f;
}

.malzeme-grup {
  min-width: 150px;
}

input[type="radio"] {
  border: 2px solid #8f8f8f !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px !important;
  cursor: pointer;
}

input[type="checkbox"] {
  border: 2px solid #8f8f8f !important;
  width: 20px !important;
  height: 20px !important;
  margin-right: 8px !important;
  cursor: pointer;
}

input[type="radio"]:hover,
input[type="checkbox"]:hover {
  border-color: #525252 !important;
  background-color: rgb(255, 182, 182) !important;
  cursor: pointer;
}

input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background-color: #ce2829 !important;
  border-color: #ce2829 !important;
  cursor: pointer;
}

.btn {
  background-color: #fdc913 !important;
  color: #292929 !important;
  border: #fdc913 !important;
  padding: 0.8rem 1rem !important;
}

.sayi {
  padding: 10px;
  text-align: center;
  align-items: baseline;
  font-size: 1rem;
}

.siparisbottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.siparistoplam {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  flex-direction: column;
  width: 60%;
}

.price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  color: #5f5f5f;
  font-weight: bold;
  padding: 0.5rem 0;
}

.s2 {
  padding: 2rem;
}

.notlar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}





/***********/
/*
.menu-body{
background-color: #CE2829;
}

.menu-header{
  color:white;
  }  */
