#root {
  font-family: "Barlow", sans-serif;
  height: auto;
  margin: 0;
  width: 100%;
  padding: 0;
}

p {
  font-family: "Barlow";
}

/*Succes CSS*/

.succesPage {
  background-color: #ce2829;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 2rem;
}

.s1y {
  margin-top: 4rem;
  color: #fdc913 !important;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Satisfy";
}

.s2t {
  font-family: "Roboto Condensed";
  font-size: 4.5rem;
  font-weight: 300;
}

.icerik {
  font-family: "Barlow";
  text-align: start;
  padding: 2rem;
  font-size: 0.8rem;
  max-width: 300px;
  margin-left: 2rem;
}

.sstm {
  border: solid 1px white;
  border-radius: 6px;
  width: 17rem;
  text-align: start;
  padding: 2rem;
}

.sf {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-size: 18px;
  font-weight: 500;
}

/*Home CSS*/

.home {
  background-image: url("../images/iteration-1-images/home-banner.png");
  text-align: center;
  align-items: center;
  padding: 5rem;
  gap: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home div {
  text-align: center;
  align-items: center;
  font-family: "Barlow";
  color: white;
  font-size: 4rem;
  display: flex;
  flex-direction: column;
}

.topbtn:hover {
  color: white;
  background-color: #292929 !important;
}

.homebutton {
  background-color: #fdc913 !important;
  color: black !important;
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  font-family: "Barlow" !important;
  border: solid 1px #fdc913 !important;
  border-radius: 2rem !important;
  padding: 1rem 5rem !important;
}

.siparis {
  color: #ce2829 !important;
  background-color: white !important;
  border-radius: 40px !important;
  border-color: white;
  margin-top: 5px;
  padding: 11px 25px;
  font-size: 0.7rem;
  font-weight: 600;
  font-family: "Barlow";
}

/*  Sipariş Bölümü CSS */
.nav {
  display: flex;
  gap: 0.3rem;
  margin-top: 2rem;
}

.nav a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: start;
  font-weight: 600;
  color: rgb(117, 117, 117);
}

.nav a:hover {
  font-weight: bold;
  color: rgb(255, 39, 39);
  cursor: pointer;
}

.titles {
  color: #3b3b3b;
  font-weight: bold;
  font-size: 1.2rem;
}

.dis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 2rem;
  margin: 1rem auto;
  max-width: 1200px;
}

header {
  background-color: #ce2829;
  color: white;
  max-width: 100%;
  padding: 2rem;
  width: 100%;
  align-items: center;
  text-align: center;
}

.ust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  background-color: #faf7f2;
}

.ustic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  gap: 2rem;
  margin: 0rem auto;
  max-width: 1200px;
}
.anabaslik {
  font-size: 1.5rem;
  font-weight: 600;
  color: #292929;
}

.fiyat {
  display: flex;
  color: #292929;
  flex-direction: row;
  justify-content: space-between;
}

.para {
  font-weight: bold;
  font-size: 2rem;
}

.rating {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  gap: 8rem;
}

.secimler {
  display: flex;
  flex-direction: row;
  gap: 14rem;
  justify-content: start;
}

.sizeCover {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

.yellowButton {
  background-color: #fdc913;
  color: white;
}

.size-button {
  width: 60px;
  height: 60px;
  color: #5f5f5f;
  border-radius: 50%;
  border: #faf7f2;
  background-color: #faf7f2;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
}

.size-button[data-selected="true"] {
  background-color: #fdc913;
  border-color: #ffcc80;
}

.size-button[data-selected="true"]::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(245, 184, 1, 0.575);
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.size-button:hover {
  background-color: #ffecb3;
}

.hmr {
  background-color: #faf7f2 !important;
  color: #5f5f5f !important;
  border-color: #faf7f2 !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
  width: 14rem !important;
  height: 3rem !important;
}

.malzemeler {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 0;
  color: #5f5f5f;
}

.malzeme-adi {

  align-items: center;
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  appearance: none;
  border: 1px solid #ececec !important;
  width: 50px !important;
  height: 50px !important;
  margin-right: 8px !important;
  background-color: #faf7f2;
  border-radius: 12px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

input[type="checkbox"]:hover {
  border-color: #525252 !important;
  background-color: rgb(255, 238, 184) !important;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #fdc913 !important;
  border-color: #fdc913 !important;
  color: #ce2829;
  font-family: "Satisfy";
  cursor: pointer;
  accent-color: #000000 !important;
}

input[type="checkbox"]:checked::after {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -40%);
}


input[type="checkbox"]:checked::after {
  content: "✓" !important; 
color: black; 
font-size: 1.3rem; 
line-height: 1;
font-weight: 1000;
font-family: "Barlow", cursive; 


}
.adetbtn {
  background-color: #fdc913 !important;
  color: #292929 !important;
  border: #fdc913 !important;
  padding: 0.8rem 1rem !important;
}

.siparisbutton {
  background-color: #fdc913 !important;
  color: #292929 !important;
  border: #fdc913 !important;
  padding: 0.8rem 1rem !important;
  border-radius: 0 0 0.5rem 0.5rem !important;
}

.sayi {
  padding: 10px;
  text-align: center;
  align-items: baseline;
  font-size: 1rem;
}

.siparisbottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.siparistoplam {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  background-color: #faf7f2;
  border: solid 1px lightgrey;
  width: 60%;
}

.price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  color: #5f5f5f;
  font-weight: bold;
  padding: 0.5rem 0;
}

.s2 {
  padding: 2rem;
}

.notlar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Menü Seçenekler*/

.mainmenu {
  width: 100%;
  height: 100%;
  background-color: "#FAF7F2";
}

.menu-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2rem;
  padding: 3rem;
  background-color: #faf7f2;
  max-width: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.menu-header {
  text-align: center;
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #ce2829;
  font-family: "Barlow";
}

.subtitle span {
  display: flex !important;
  flex-direction: row !important;
  gap: 1rem !important ;
  justify-content: space-between !important;
}

/* Footer Css*/

.footermain {
  background-color: #161616;
  display: flex;
  color: white;
  font-family: "Roboto";
  padding: 2rem;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
}

.a {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.b {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  font-family: "Barlow";
}

.c {
  display: flex;
  margin-top: 5rem;
  flex-direction: column;
}

.imgs {
  width: 110px;
  height: 110px;
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(100px) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(-500px) scale(1);
  }
}

.pizzaicon {
  animation: scroll 3s ease-in-out infinite;
}

.maindiv {
  position: relative;
  overflow-x: hidden;
}
